<!DOCTYPE html>
<html>
    <head>
        <title>Player - MooveRadio</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <style type="text/css">
            html, body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <section class="player">
            <object width="240" height="300">
                <param name="allowscriptaccess" value="always" />
                <param name="movie"
                       value="http://static.radionomy.com/flash/BannerEmbed.swf?RadUID=219bb5bb-7005-493b-afa0-d81e251eff00&amp;titlesColor=ffffff&amp;color=7d7d7d&amp;autoPlay=yes&amp;lang=fr" />
                <param name="wmode" value="transparent" />
                <embed src="http://static.radionomy.com/flash/BannerEmbed.swf?RadUID=219bb5bb-7005-493b-afa0-d81e251eff00&amp;titlesColor=ffffff&amp;color=7d7d7d&amp;autoPlay=yes&amp;lang=fr"
                       wmode="transparent" type="application/x-shockwave-flash" allowscriptaccess="always" width="240"
                       height="300">
                </embed>
            </object>
        </section>
    </body>
</html>